<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    {{!-- <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"> --}}
    <title>Services</title>
</head>
<body>
  
{{>navbar}}
{{!-- About start --}}
<br>
<br>
<br>
<br>

<div class="container-fluid mt-5 about-style" id="serviceid">
     <div class="row">
      <div class="col-md-10 col-12 mx-auto hosh">

         <h1 class="text-center main-heading" style="color: rgb(71, 71, 175);">Our Services</h1>
         <p class="text-center sub-heading">Grow your Bussiness with us </p>

          <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/flow.jpg">
                            </div>    
                                <h4>Web Development</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/type.jpg">
                            </div>    
                                <h4>Andriod Application</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/agile.jpg">
                            </div>    
                                <h4>Game Applications</h4>
                            </div>
                        </div>
                    </div>
                    
                </div>


          </div>
      </div>
     </div>
</div>

   {{!-- Middle end --}}
</body>
</html>

