{{!-- About start --}}


<div class="container-fluid mt-5 about-style" id="aboutid">
     <div class="row">
      <div class="col-md-10 col-12 mx-auto hosh">

         <h1 class="text-center main-heading">About Us</h1>
         <p class="text-center sub-heading">Grow your Bussiness with us </p>

          <div class="row">
           <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column" >
                <figure>
                  <img src="images/type.jpg" alt="headersection_images">
                </figure>
           </div>



           <div class="col-md-6 col-12 hero-text ">
              <h1>We are the proffessional developer</h1>
                <p>......</p>
                <button class="btn-style btn-primary">Know more</button>
                
           </div>
      </div>
     </div>
   </div>
   </div>

   {{!-- Middle end --}}

